.profile-card {
    margin: 50px;
    width: 80%;
    background-color: #E6F7FF;
    padding: 30px 50px;
    margin-bottom: 50px;
}

h1 {
    padding: 20px;
}

.input-user {

    width: 676px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
    
}

.user-info {
    display: flex;
    top: 200px;
    height: 387px;
    width: 80%;
    background-color: #F5F5F5;
    padding: 30px 50px;
    margin-left: 50px;
}